.header_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 95vh;
  margin: 0 auto;
  justify-content: space-around;
}

.header_image_container {
  order: -1;
  display: flex;
  justify-content: center;
}

.header_image_container img {
  max-width: 250px;
}


.header_title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}

.header_title_container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.header_subtitle {
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem !important;
}

.header_level {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
  margin-top: 1rem !important;
}

.header_lines_container_firstLine,
.header_lines_container_secondLine {
  height: 2px;
  width: 100%;
  background-color: aliceblue;
  margin: 0.8rem 0;
}

@media screen and (min-width: 700px) {

  .header_image_container img {
    max-width: 400px;
    margin-top: 3.5rem;
  }

  .header_title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .header_subtitle {
    font-size: 1.7rem;
    margin-top: 2rem;
  }

  .header_level {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .header_container {
    flex-direction: row;
    width: 85%;
    height: 95vh;
  }

  .header_image_container {
    order: 1;
  }

  .header_image_container img {
    max-width: 350px;
    margin-bottom: 15rem;
    margin-top: 0rem;
  }

  .header_title_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .header_title {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .header_subtitle {
    font-size: 2.2rem;
    text-align: left;
  }

  .header_subtitle {
    margin: 0 0 0 0 !important;
  }

  .header_level {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: left;
  }

  .header_lines_container_firstLine,
  .header_lines_container_secondLine {
    width: 13rem;
  }

  .header_lines_container_secondLine {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1200px) {

  .header_image_container img {
    max-width: 400px;
  }
}

@media screen and (min-width: 1900px) {
  .header_container {
    width: 80%;
    justify-content: space-between;
  }

  .header_image_container img {
    max-width: 500px;
  }

  .header_title {
    font-size: 7rem;
  }

  .header_subtitle {
    font-size: 3rem;
  }

  .header_level {
    font-size: 2rem;
  }

  .header_lines_container_firstLine,
  .header_lines_container_secondLine {
    width: 18rem;
  }
}