.navMenu_Lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lang_earth {
    margin: 1rem 1rem 0 0;
    width: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    fill: #f0f8ff
}

.lang_earth:hover {
    transform: scale(120%);
    opacity: 1;
}

.navMenu_flag_container {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 99;
    transition: all .2s ease-in-out;
}

.navMenu_flag_container img:hover {
    transform: scale(140%);
}

@media screen and (min-width: 1000px) {
    .lang_earth {
        margin: 1rem 2rem 0 0;
        width: 20px;
    }

    .navMenu_flag_container {
        right: 1.5rem;
    }
}